.background{
    background-image: url("../../asset/background.jpg");
    background-repeat: no-repeat;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}